.floating-sidebar {
    background: white !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: fixed;
    min-width: 300px;
    left: 50px;
    top: 100px;
    z-index: 100000;
    padding: 20px;
    border-radius: 10px;
}

.tabs button.active{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}