.sidebar {
    background-color: #FFFFFF;
    width: 260px;
    min-height: 100vh;
    height: 100%;
    /* padding: 16px; */
}
.br-c{
    border-right: 1px solid #E2E2E2;
}
.sidebar-menu-item.active {
    background: #F1F0FF;
    color: #571159;
    font-weight: bold;
}